{% extends '::base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

    <section>
        <div class="c-img-ban">
            <div class="container">
                <div class="row">
                    <h1 class="c-titre-ban"><strong>MIMENTO</strong></h1>
                    <h3><i>UN SITE POUR APPRENDRE !</i></h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Actualités <small>"Du nouveau sur Mimento ?"</small></h1>
                </div>
            </div>
        </div>
    </section>
    <section id="cours">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <!-- Block de cour -->
                    <div class="c-block">
                        <div class="image"></div>
                        <div class="nom">
                            Le Design Graphique
                        </div>
                        <div class="auteur">
                            par <i><strong>Mr</strong> Dupont</i>
                        </div>
                    </div>
                    <!-- Block de cour -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Block de cour -->
                    <div class="c-block">
                        <div class="image"></div>
                        <div class="nom">
                            Le Design Graphique
                        </div>
                        <div class="auteur">
                            par <i><strong>Mr</strong> Dupont</i>
                        </div>
                    </div>
                    <!-- Block de cour -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Block de cour -->
                    <div class="c-block">
                        <div class="image"></div>
                        <div class="nom">
                            Le Design Graphique
                        </div>
                        <div class="auteur">
                            par <i><strong>Mr</strong> Dupont</i>
                        </div>
                    </div>
                    <!-- Block de cour -->
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="c-img-info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 c-whiteTxt">
                        <h1>Mimento, qu'est-ce que c'est ?</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque tenetur, odio, voluptatem ad quia unde perspiciatis inventore quam perferendis mollitia ab sapiente, ut repellendus ullam sint pariatur accusantium recusandae saepe.</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="c-block">
                            <img style="width: 300px;" src="{{ asset('img/mimento-kesako.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Rubriques</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="c-block-logo integration"></div>
                </div>
                <div class="col-lg-2">
                    <div class="c-block-logo communication"></div>
                </div>
                <div class="col-lg-2">
                    <div class="c-block-logo infographie"></div>
                </div>
                <div class="col-lg-2">
                    <div class="c-block-logo reseau"></div>
                </div>
                <div class="col-lg-2">
                    <div class="c-block-logo video"></div>
                </div>
                <div class="col-lg-2">
                    <div class="c-block-logo video"></div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
{% endblock %}